@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background: radial-gradient(
      circle at top center,
      hsla(222, 80%, 60%, 0.5) 0%,
      hsla(222, 0%, 0%, 0) 50%,
      hsla(222, 0%, 0%, 0) 100%
  );
}

.focus-in-expand {
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 250ms;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.jello-horizontal {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 768px) {
  .max-width-on-mobile {
    width: 100vw;
  }
}

.song-card {
  box-shadow: 0 11px 25px -1px rgba(0, 0, 0, 0.17);
}

.song-card-index {
  position: absolute;
  z-index: 50;
}

.song-card-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.song-card-entry {
  position: relative;
}

.song-card-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.song-card-animate-spin {
  @apply animate-spin;
  animation: spin 4s linear infinite;
}

@media (max-width: 850px) {
  .game-display {
    display: none;
  }
}

/* entire container, keeps perspective */
.flippable-card-container {
  perspective: inherit;
}

/* flip the pane when hovered */
.flippable-card-container:hover .flippable-card-flipper, .flippable-card-container.hover .flippable-card-flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flippable-card-flipper {
  transition: 1s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.flippable-card-front, .flippable-card-back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 11px 25px -1px rgba(0, 0, 0, 0.17);
}

/* front pane, placed above back */
.flippable-card-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flippable-card-back {
  transform: rotateY(180deg);
}

@media (max-width: 548px) {
  .movie-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 548px) {
  .movie-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 840px) {
  .movie-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1100px) {
  .movie-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.folding-card-container {
  @apply relative;
  @apply w-full;
  @apply rounded-xl;
  @apply origin-bottom;
}

.folding-card-content {
  @apply absolute;
  @apply w-full;
  @apply h-[100px];
  @apply origin-bottom;
  @apply duration-500;
  @apply rounded-xl;
  transform-style: preserve-3d;
}

.folding-card-inner-first {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[100px];
  backface-visibility: hidden;
  box-shadow: 0 0 25px -1px rgba(0, 0, 0, 0.17);
}

.folding-card-outer {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[100px];
  backface-visibility: hidden;
  box-shadow: 0 0 3px 0 rgba(132, 132, 132, 0.15);
}

.folding-card-inner-second {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[100px];
  @apply origin-center;
  @apply bottom-[2px];
  backface-visibility: hidden;
  transform: rotate3d(1, 0, 0, -180deg);
}

.folding-card-inner-second-content {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[100px];
  box-shadow: 0 11px 25px -1px rgba(0, 0, 0, 0.17);
}

.folding-card-inner-third {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[50px];
  @apply bottom-[-2px];
  @apply origin-bottom;
  transform-style: preserve-3d;
  transition: 0.2s;
}

.folding-card-inner-third-and-fourth-content-wrapper {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[50px];
  @apply origin-center;
  backface-visibility: hidden;
  transform: rotate3d(1, 0, 0, -180deg);
}

.folding-card-inner-third-content {
  @apply w-full;
  @apply rounded-xl;
  @apply h-[50px];
  position: absolute;
  box-shadow: 0 11px 25px -1px rgba(0, 0, 0, 0.17);
}

.folding-card-inner-fourth-content {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[50px];
  @apply bottom-[2px];
  @apply origin-center;
  transform: rotate3d(1, 0, 0, -180deg);
  backface-visibility: hidden;
  box-shadow: 0 11px 25px -1px rgba(0, 0, 0, 0.17);
}

.folding-card-inner-fourth {
  @apply absolute;
  @apply w-full;
  @apply rounded-xl;
  @apply h-[50px];
  @apply origin-bottom;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.2s;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: yellow;
}

::selection {
  color: black;
  background: yellow;
}

* {
  cursor: none;
}